<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSS3手势变换动画特效DEMO演示</title>
    <link rel="stylesheet" href="/stylesheets/praise.css">
</head>

<body>
    <div class="hand" id="thumb"></div>
    <span class="hide" id="animation">+1</span>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/systemjs/0.21.3/system.js"></script>
    <script src="/javascripts/add.js"></script>
</body>

</html>