<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: #999;
        }

        div {
            width: 80%;
            margin: 50px auto;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div>
        <a href="/index/index">Welcom to Praise Game!</a>
    </div>
</body>

</html>