<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSS3手势变换动画特效DEMO演示</title>
    <link rel="stylesheet" href="/stylesheets/praise.css">
    <script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/add.js"></script>
    <script src="/javascripts/tag.js"></script>
</head>

<body>
    <!-- <div class="hand" id="thumb">
        <span class="now_count"></span>
    </div>
    <span class="hide" id="animation">+1</span> -->
    <x-praise></x-praise>

</body>
</html>